<div class="home">
    <ul class="head1">
        <li class="head"><a href="#/signin">Log in</a></li>
        <li class="head"><a href="#/signup">Sign up</a></li>
        <li class="head"><a href="#/#tip" style="transition:scroll 2s;">About</a></li>
    </ul>
    <h1 id="title">Check Your Tone</h1>
    <div class="info">
        <p class="story"><span style="font-size:2em;color:rgb(120,190,190);">Consider this ...</span>
            <br>** <span style="color:rgb(255,200,190);">2.4 million</span> emails are sent every second.
            <br>** That means that there are <span style="color:rgb(255,200,190);">205 billion</span> emails sent everyday.
            <br>** That's <span style="color:rgb(255,200,190);">74 trillion</span> every year!</p>
        <p class="story"><span style="font-size:2em;color:rgb(120,190,190);">Now consider this ...</span>
            <br>In a study conducted by the <span style="font-style:italic;color:white;">Journal of Personality and Social Psychology</span>, email recipients
            <br>misinterpreted the tone of an email <span style="color:rgb(255,200,190);">50%</span> of the time. Further, these recipients believed they
            <br>correctly interrupted the email <span style="color:rgb(255,200,190);">90%</span> of the time. This means that almost 1.1 emails every <br>second are being misinterpreted even though the receiver thinks they interrupted it correctly.</p>
        <p id="tip" class="story"><span style="font-size:2em;color:rgb(120,190,190);">So why does this matter:</span>
            <br>In today's world, so much of our communication is done over email, where the person
            <br>you are communicating with can't see your body language, your facial expressions, or
            <br>hear the tone of your voice. That is why the tone of your words is so important in conveying
            <br>your correct message. At Check Your Tone, we believe that we can help with this epidemic.
            <br>We invite you to upload your email, social posts, letters, or any text that you want to make
            <br>sure it will be percieved the way you intended it.</p>
    </div>
    <div class="info"></div>
    <p style="color:white;font-size:1.3em;">Check Your Tone    |     created by: Philip Reitz | p2reitz@gmail.com | https://www.linkedin.com/in/philip-reitz</p>
</div>
